.rbs-input-row select,
.rbs-input-row button,
.rbs-input-row input{
    width: 100%;
    margin: 5px 0;
}

.rbs-col{
    margin: 0;
    padding: 4px;
    width: 100%;
    display: inline-block;
    min-height: 75px;
}

.rbs-row{
    position: relative;
    padding: 10px 30px;
    margin: 0 auto;
}

.rbs-row .col-1,
.rbs-row .col-2,
.rbs-row .col-3,
.rbs-row .col-4,
.rbs-row .col-5,
.rbs-row .col-6,
.rbs-row .col-7,
.rbs-row .col-8,
.rbs-row .col-9,
.rbs-row .col-10,
.rbs-row .col-11,
.rbs-row .col-12{
    float: none !important;
}

.rbs-col-wrap{
    width: 100%;
    float: none !important;
}

.rbs-col.rbs-col-6{
    width: 48%;
}

.rbs-input-row .col-3{
    width: 22.5%;
}

.rbs-input-row .col-4{
    width: 32%;
}

.rbs-input-row-last{
    margin-top: 15px;
    position: relative;
}

.rbs-labels{
    margin: 20px 0;
    width: 100%;
}


#shipment_price_wrapper{
    border: 1px solid #2c3e50;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    float: none;
    clear: both;
}

#shipment_price_wrapper #shipment_price,
#shipment_price_wrapper #orders_count{
    color: #c0392b;
}

#coolrunner_metabox .shipment-details p{
    margin: 2px 0;
}

.rbs-col-wrap .rbs-input-row label.col-3{
    margin-top: 5px;
    display: inline-block;
}

#coolrunner_submit{
    transition: all 200ms ease-in-out;
}

#coolrunner_submit.shrink{
    width: calc(100% - 30px);
}

#response-message,
.coolrunner_response{
    padding: 10px;
    margin: 5px 0 15px;
    background: #fff;
    border-left: 4px solid #dc3232;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

/* Spinner */

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 6px;
    width: 0.5em;
    height: 0.5em;
    margin: 1em;
    overflow: hidden;
    text-indent: 100%;

    position: absolute;
    top: 6.5px;
    right: 5px;
}

.spinner-loader.price_loader,
.coolrunner_loading{
    position: absolute;
    display: block;
    left: calc(100% - 22px);
    top: 6.5px;
}

#coolrunner_form .spinner-loader,
.coolrunner_loading{
    position: absolute;
    top: 6.5px;
    right: 5px;
}
